params {
    // Min filesize
    min_filesize_final_assembly      = '1M'
    min_filesize_filtered_assembly   = '1M'
    min_filesize_polished_assembly   = '1M'
    min_filesize_binary_se_alignment = '1k'
    min_filesize_binary_pe_alignment = '6M'

    // Number of corrections
    spades_polish_corrections        = 3
}
