params {
    // Minimum file size
    min_filesize_checkm2_report = '1c'

    // CheckM2 v1.0.1 has 3 models to choose from:
    //  --general    Force the use of the general quality prediction model (gradient boost)
    //  --specific   Force the use of the specific quality prediction model (neural network)
    //  --allmodels  Output quality prediction for both models for each genome
    checkm2_model               = '--allmodels'
}
