params {
    // Min filesize
    min_filesize_raw_assembly = '1M'

    // SPAdes mode options
    /* Mode option can be:
        --isolate     : highly recommended for high-coverage isolate and multi-cell data
        --sc          : for MDA (single-cell) data
        --meta        : for metagenomic data
        --plasmid     : runs plasmidSPAdes pipeline for plasmid detection
        --rna         : for RNA-Seq data
        --metaviral   : runs metaviralSPAdes pipeline for virus detection
        --metaplasmid : runs metaplasmidSPAdes pipeline for plasmid detection in metagenomic datasets (equivalent for --meta --plasmid)
        --corona      : for coronaSPAdes mode
    */
    spades_mode               = '--isolate'

    // K-mer sizes used in assembly
    spades_kmer_sizes         = 'auto'
}
