/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    /*
    ================================================================================
                            All modules
    ================================================================================
    */
    publishDir =  [
        [
            // QC file checks
            path:    params.qc_filecheck_log_dir,
            mode:    params.publish_dir_mode,
            pattern: "*_File.tsv"
        ],
        [
            // Stdout and stderr
            path:    params.process_log_dir,
            mode:    params.publish_dir_mode,
            pattern: ".command.{out,err}",
            saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
        ]
    ]

    /*
    ================================================================================
                            Module specific
    ================================================================================
    */

    /*
     * Local modules
     */
    withName: ANNOTATE_PROKKA {
        publishDir = [
            [
                path:    { "${params.outdir}/Annotation/Prokka" },
                mode:    params.publish_dir_mode,
                pattern: "*.gbk"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: ASSEMBLE_CONTIGS_SKESA {
        publishDir = [
            [
                path:    { "${params.outdir}/Assembly/${meta.assembler}/${meta.id}" },
                mode:    params.publish_dir_mode,
                pattern: "contigs.fasta"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: 'ASSEMBLY:ASSEMBLE_CONTIGS:ASSEMBLE_CONTIGS_SPADES' {
        publishDir = [
            [
                path:    { "${params.outdir}/Assembly/${meta.assembler}/${meta.id}" },
                mode:    params.publish_dir_mode,
                pattern: "*.{log,gfa,gz,fasta}"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: BEST_16S_BLASTN_BITSCORE_TAXON_PYTHON {
        publishDir = [
            [
                path:    { "${params.outdir}/SSU/BLAST" },
                mode:    params.publish_dir_mode,
                pattern: "*.blast.tsv.gz"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: CALCULATE_COVERAGE_UNIX {
        publishDir = [
            [
                path:    { "${params.outdir}/Assembly/QA/${meta.id}/"},
                mode:    params.publish_dir_mode,
                pattern: "*GenomeCoverage.tsv"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: EXTRACT_16S_BARRNAP {
        publishDir = [
            [
                path:    { "${params.outdir}/SSU" },
                mode:    params.publish_dir_mode,
                pattern: "16S.*.fa"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: MAP_CONTIGS_BWA {
        publishDir = [
            [
                path:    { "${params.outdir}/Assembly" },
                mode:    params.publish_dir_mode,
                pattern: "*.fna"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: OVERLAP_PAIRED_READS_FLASH {
        publishDir = [
            [
                path:    { "${params.outdir}/CleanedReads/FLASH" },
                mode:    params.publish_dir_mode,
                pattern: "*.{overlap.tsv,clean-reads.tsv}"
            ],
            [
                path:    { "${params.outdir}/CleanedReads" },
                mode:    params.publish_dir_mode,
                pattern: "*.fq.gz"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: POLISH_ASSEMBLY_BWA_PILON {
        publishDir = [
            [
                path:    { "${params.outdir}/Assembly" },
                mode:    params.publish_dir_mode,
                pattern: "*.fna"
            ],
            [
                path:    { "${params.outdir}/Assembly/${meta.assembler}/${meta.id}" },
                mode:    params.publish_dir_mode,
                pattern: "*.{InDels,SNPs}-corrected.cnt.tsv"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: QA_ASSEMBLY_QUAST {
        publishDir = [
            [
                path:    { "${params.outdir}/Assembly/QA/${meta.id}" },
                mode:    params.publish_dir_mode,
                pattern: "*{QuastSummary,CleanedReads-Bases}.tsv"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: 'ASSEMBLY:READ_CLASSIFY_KRAKEN_ONE' {
        publishDir = [
            [
                path:    { "${params.outdir}/Taxonomy/kraken/${meta.id}" },
                mode:    params.publish_dir_mode,
                pattern: "*.{tab.gz,tsv}"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: READ_CLASSIFY_KRAKEN_TWO {
        publishDir =[
            [
                path:    { "${params.outdir}/Taxonomy/kraken2/${meta.id}" },
                mode:    params.publish_dir_mode,
                pattern: "*.{tab.gz,tsv}"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: TRIM_READS_TRIMMOMATIC {
        publishDir = [
            [
                path:    { "${params.outdir}/CleanedReads/Trimmomatic" },
                mode:    params.publish_dir_mode,
                pattern: "*.trimmomatic.tsv"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: REMOVE_HOST_HOSTILE {
        publishDir = [
            [
                path:    { "${params.outdir}/CleanedReads/Hostile" },
                mode:    params.publish_dir_mode,
                pattern: "*.Summary.Hostile-Removal.tsv"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: REMOVE_HOST_SRA_HUMAN_SCRUBBER {
        publishDir = [
            [
                path:    { "${params.outdir}/CleanedReads/SRA-Human-Scrubber" },
                mode:    params.publish_dir_mode,
                pattern: "*.Summary.SRA-Human-Scrubber-Removal.tsv"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: REMOVE_BROKEN_PAIRS_BBTOOLS_REPAIR {
        publishDir = [
            [
                path:    { "${params.outdir}/CleanedReads/SRA-Human-Scrubber" },
                mode:    params.publish_dir_mode,
                pattern: "*.Summary.BBTools-Repair-Removal.tsv"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: REMOVE_PHIX_BBDUK {
        publishDir = [
            [
                path:    { "${params.outdir}/CleanedReads/BBDUK" },
                mode:    params.publish_dir_mode,
                pattern: "*.Summary.PhiX.tsv"
            ],
            [
                path:    params.qc_filecheck_log_dir,
                mode:    params.publish_dir_mode,
                pattern: "*_File.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    /*
     * nf-core modules
     */
    withName: QA_ASSEMBLY_GTDBTK {
        publishDir = [
            [
                path:    { "${params.outdir}/Summaries" },
                mode:    params.publish_dir_mode,
                pattern: "*.summary.tsv",
                saveAs:  { filename -> "Summary.GTDB-Tk.tab" }
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: QA_ASSEMBLY_BUSCO {
        ext.args = "-m genome"
        publishDir = [
            [
                path:    { "${params.outdir}/Summaries" },
                mode:    params.publish_dir_mode,
                pattern: "*.batch_summary.txt",
                saveAs:  { filename -> "Summary.BUSCO.tab" }
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }
}
