/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    publishDir = [
        path:   { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode:   params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: QA_ASSEMBLY_GTDBTK {
        publishDir = [
            [
                path:    "${params.outdir}/qa",
                mode:    params.publish_dir_mode,
                pattern: "*.summary.tsv",
                saveAs:  { filename -> "Summary.GTDBTk.tab" }
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }

    withName: QA_ASSEMBLY_BUSCO {
        ext.args = "-m genome"
        publishDir = [
            [
                path:    "${params.outdir}/qa",
                mode:    params.publish_dir_mode,
                pattern: "*.batch_summary.txt",
                saveAs:  { filename -> "Summary.BUSCO.tab" }
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
            ]
        ]
    }
}
