/* 
Default parameters
This code is from: https://github.com/bactopia/bactopia/blob/172f00e46ebe21b856d79ef42bbeda83ea48de97/conf/params.config
*/


params {
    wf = 'assembly'
    run_name = "${params.wf}"

    // Max job request params
    max_retry = 3
    max_cpus = 16

    // Nextflow configuration params
    publish_dir_mode = 'copy'
    force = false
    cleanup_workdir = false
}