/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    wf-paired-end-illumina-assembly Nextflow profiles config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {
    // nf-core profiles
    debug {
        process.beforeScript   = 'echo $HOSTNAME'
    }

    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        conda.cacheDir         = "${params.profile_cache_dir}"
        includeConfig "base.config"
    }

    docker {
        docker.enabled         = true
        singularity.enabled    = false
        shifter.enabled        = false
        fixOwnership           = true
        runOptions             = "-u \$(id -u):\$(id -g)"
        docker.cacheDir        = "${params.profile_cache_dir}"
        includeConfig "base.config"
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        shifter.enabled        = false
        singularity.cacheDir   = "${params.profile_cache_dir}"
        includeConfig "base.config"
    }

    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        includeConfig "base.config"
    }

    // Aspen Univa Grid Engine profile
    aspen_hpc {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        shifter.enabled        = false
        singularity.cacheDir   = "${LAB_HOME}/workflows/singularity.cache"
        includeConfig "base.config"
        includeConfig "profiles/aspen_hpc.config"
    }

    // Rosalind Univa Grid Engine profile
    rosalind_hpc {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        shifter.enabled        = false
        singularity.cacheDir   = "${LAB_HOME}/workflows/singularity.cache"
        includeConfig "base.config"
        includeConfig "profiles/rosalind_hpc.config"
    }

    // Main test profiles
    test      { includeConfig 'test.config'      }
    test_full { includeConfig 'test_full.config' }

    // Full test using SKESA and skipping kraken classifications
    test_full_skip_kraken {
        includeConfig 'test_full_skip_kraken.config'
    }

    // Extra miscellaneous test profiles, often for specific use cases
    test_skip_host_removal_high_ram_skip_kraken {
        includeConfig 'test_skip_host_removal_high_ram_skip_kraken.config'
    }

    test_both_host_removal_high_ram_skip_subsample_skip_kraken {
        includeConfig 'test_both_host_removal_high_ram_skip_subsample_skip_kraken.config'
    }
    test_cat_checkm2_very_high_cpu_local {
        includeConfig 'test_cat_checkm2_very_high_cpu_local.config'
    }
}
