/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_full_skip_kraken,<docker/singularity> --outdir <outdir>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                   = 4
    max_memory                 = '15.6GB'
    max_time                   = '6.h'

    // Input data for full size test
    input                      = 'https://raw.githubusercontent.com/bacterial-genomics/test-datasets/assembly/samplesheets/samplesheet.full.csv'

    // Use SKESA assembler workflow
    assembler                  = 'skesa'

    // Skip kraken1 and kraken2
    kraken1_db                 = ""
    kraken2_db                 = ""
}
