params {
    min_filesize_fastq_sra_human_scrubber_removed = '25000k'

    //  --min-hits NUM          In quick op., number of hits req'd for classification
    //                            NOTE: this is ignored if --quick is not specified
    //  --quick                 Quick operation (use first hit or hits)
}
