params {
    // Filter contigs parameters
    filter_contigs_coverage            = '5'
    filter_contigs_length              = 1000
    filter_contigs_gcskew              = false
    filter_contigs_no_sort             = false
    filter_contigs_keep_low_complexity = false
    filter_contigs_deflines            = "rename_retain"
}
