params {
    // MLST parameters
    mlst_scheme        = ''
    mlst_min_score     = '50'
    mlst_min_identity  = '95'
    mlst_min_coverage  = '10'

    // Exclude all MLST databases by default with a *_<int> such as leptospira_2 and leptospira_3
    mlst_ignore_scheme = 'abaumannii_2,blicheniformis_14,bordetella_3,brachyspira_2,brachyspira_3,brachyspira_4,brachyspira_5,campylobacter_nonjejuni_2,campylobacter_nonjejuni_3,campylobacter_nonjejuni_4,campylobacter_nonjejuni_5,campylobacter_nonjejuni_6,campylobacter_nonjejuni_7,campylobacter_nonjejuni_8,campylobacter_nonjejuni_9,diphtheria_3,ecoli_achtman_4,leptospira_2,leptospira_3,listeria_2,llactis_phage,mbovis_2,mcatarrhalis_achtman_6,mgallisepticum_2,mhominis_3,mycobacteria_2,pacnes_3,pmultocida_2,senterica_achtman_2,vcholerae_2,ypseudotuberculosis_achtman_3'
}
