params {
    // Min filesize
    min_filesize_fastq_hostile_removed   = '25000k'

    // Host reference file to map against and remove reads that match to it
    //  For Illumina host removal, 6 bowtie2 index files are required to be
    //  given to Hostile (not a single FastA). For human T2T, these are
    //  about 5 GB in size (from the 4.2 GB human-t2t-hla.tar which contains
    //  all 6 of the bt2 index files).
    //hostile_host_reference_path_prefix = "${projectDir}/bin/human-t2t-hla"
    hostile_host_reference_path_prefix   = ''
}
