params {
    // Min filesize
    min_filesize_adapters               = '10k'
    min_filesize_fastq_adapters_removed = '25M'

    // Adapter Reference
    adapter_reference = null

    // Quality filtering (uses the --cut_right features from 5' to 3')
    fastp_window_size                   = 6
    fastp_window_mean_quality           = 30

    // Length filtering
    fastp_minimum_read_sequence_length  = 50
}
