params {
    // Min filesize
    min_filesize_annotated_genbank = '3M'

    // Additional genes
    /* Extra protein encoding genes of interest lacking in the Prokka database
        to also annotate which can be either FastA format (".faa" protein extension)
        or GenBank (".gbk" or ".gb") and deflines must follow this format:
        https://github.com/tseemann/prokka#option---proteins
        e.g., ">name min_identity~~~min_query_cov~~~min_subject_cov~~~gene~~~product~~~dbxrefs"
    */
    prokka_curated_proteins               = ''

    // Similarity cut-off requirement
    prokka_evalue                         = '1e-08'
}
