params {
    // Min filesize
    min_filesize_raw_assembly = '1M'

    // SKESA options
    skesa_steps               = 11
    skesa_kmer_length         = 21
    skesa_max_snp_length      = 150
    skesa_min_contig_length   = 200
    skesa_fraction            = '0.1'
    skesa_allow_snps          = false
    skesa_vector_percent      = '0.05'
}
