/*
This file includes default values for Aspen HPC parameters.
*/

params {
    sge_penv                = 'smp'
    sge_queue               = 'short.q'
    sge_queue_size          = 100
    sge_options             = ""
    sge_process_time        = 4.h
}

process {
    executor                = 'sge'
    penv                    = params.sge_penv
    queue                   = params.sge_queue
    clusterOptions          = params.sge_options
    errorStrategy           = { task.exitStatus in [71,104,134,137,139,140,143,255] ? 'retry' : 'ignore' }

    // Default process_high label is 8h, 4h is sufficient
    withLabel:process_high {
        time                = { check_max( params.sge_process_time * task.attempt, 'time' ) }
    }
}

executor {
    queueSize               = params.sge_queue_size
    pollInterval            = '15 sec'
}
