/*
This file includes default values for aspen aspen parameters.
*/

params {
    sge_penv              = 'smp'
    sge_queue             = 'short.q'
    sge_queue_size        = 100
    sge_options           = ""
}

process {
    executor                = 'sge'
    penv                    = "${params.sge_penv}"
    queue                   = params.sge_queue
    clusterOptions          = params.sge_options
    errorStrategy           = { task.exitStatus in [143,137,104,134,139,71,255] ? 'retry' : 'ignore' }
}

executor {
    queueSize               = params.sge_queue_size
    pollInterval            = '15 sec'
}