/*
This file includes default values for Rosalind HPC parameters.
*/

params {
    sge_penv                = 'smp'
    sge_queue               = 'short.q'
    sge_queue_size          = 100
    sge_options             = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
    sge_kraken1_memory      = 200.GB
    sge_process_time        = 4.h
}

process {
    executor                = 'sge'
    penv                    = params.sge_penv
    queue                   = params.sge_queue
    clusterOptions          = params.sge_options
    errorStrategy           = { task.exitStatus in [143,137,104,134,139,71,255] ? 'retry' : 'ignore' }

    // Default process_high label is 8h, 4h is sufficient
    withLabel:process_high {
        time                = { check_max( params.sge_process_time * task.attempt, 'time' ) }
    }

    // Increase memory for Kraken 1 to load database files
    withName:READ_CLASSIFY_KRAKEN_ONE {
        memory              = params.sge_kraken1_memory
    }
}

executor {
    queueSize               = params.sge_queue_size
    pollInterval            = '15 sec'
}
