/*
This file includes default values for Rosalind HPC parameters.
*/

params {
    sge_penv                = 'smp'
    sge_queue               = 'short.q'
    sge_queue_size          = 100
    sge_options             = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
    sge_kraken1_memory      = 200.GB
}

process {
    executor                = 'sge'
    penv                    = "${params.sge_penv}"
    queue                   = { task.time <= 4.h ? 'short.q' : task.time > 5.h ? 'all.q' : 'short.q' }
    clusterOptions          = params.sge_options
    errorStrategy           = { task.exitStatus in [143,137,104,134,139,71,255] ? 'retry' : 'ignore' }

    withName:READ_CLASSIFY_KRAKEN_ONE {
        memory              = params.sge_kraken1_memory
    }
}

executor {
    queueSize               = params.sge_queue_size
    pollInterval            = '15 sec'
}
