params {
    // Min filesize
    min_filesize_rdp_output = '10c'

    // Output columns and format reported, options:
    //   'allrank'     : outputs the results for all ranks
    //                     applied for each sequence: seqname, orientation,
    //                     taxon name, rank, conf, ...
    //   'fixrank'     : only outputs the results for fixed
    //                     ranks in order: domain, phylum, class, order,
    //                     family, genus
    //   'biom'        : outputs rich dense biom format if OTU or
    //                     metadata provided
    //   'filterbyconf': only outputs the results for major
    //                     ranks as in fixrank, results below the
    //                     confidence cutoff were bin to a higher rank
    //                     unclassified_node
    //   'db'          : outputs the seqname, trainset_no, tax_id, conf
    rdp_output_format       = 'fixrank'

    // Gene type to classify, options:
    //   '16srrna', 'fungallsu', 'fungalits_warcup', 'fungalits_unite'
    rdp_phylomarker         = '16srrna'
}
