params {
    // Min filesize
    min_filesize_adapters                 = '10k'
    min_filesize_fastq_adapters_removed   = '25M'

    // Adapter reference file
    adapter_reference                     = "${projectDir}/bin/adapters_Nextera_NEB_TruSeq_NuGEN_ThruPLEX.fas"

    // Default parameters for phred +33
    trimmomatic_phred                     = 33
    trimmomatic_window_size               = 6
    trimmomatic_seed_mismatches           = 2
    trimmomatic_min_adapter_length        = 8
    trimmomatic_min_length                = 50
    trimmomatic_leading_quality           = 10
    trimmomatic_trailing_quality          = 10
    trimmomatic_required_quality          = 30
    trimmomatic_simple_clip_threshold     = 10
    trimmomatic_palindrome_clip_threshold = 20
    trimmomatic_keep_both_reads           = true
}
